jieba>=0.39
loguru
tqdm
pandas
tiktoken
openai~=1.13.3

fastapi
loguru
uvicorn[standard]
pydantic
python-multipart
sse-starlette

flask
flask_cors

python-socketio
python-jose
passlib[bcrypt]
uuid

requests
aiohttp
peewee
bcrypt

litellm==1.30.7
argon2-cffi
apscheduler

fake_useragent
chromadb
pypdf
docx2txt
markdown
pandas
openpyxl
pyxlsb
xlrd

PyJWT
pyjwt[crypto]

black

# rag
text2vec

# agentica
agentica