jieba>=0.39
loguru
tqdm
pandas
tiktoken
openai

# rag
text2vec

# agent
agentica

# serve
fastapi
loguru
uvicorn[standard]
gunicorn
pydantic
python-multipart
sse-starlette

python-socketio
python-jose
passlib[bcrypt]
uuid

requests
aiohttp
peewee
bcrypt

litellm
argon2-cffi
apscheduler

fake_useragent
chromadb
pypdf
docx2txt
markdown
pandas
openpyxl
pyxlsb
xlrd

PyJWT
pyjwt[crypto]

black